[logstash-{{ logstash_major }}]
name=Logstash repository for {{ logstash_major }}.x packages
baseurl=http://packages.elasticsearch.org/logstash/{{ logstash_major }}/centos
gpgcheck=1
gpgkey=http://packages.elasticsearch.org/GPG-KEY-elasticsearch
enabled=1
